@font-face {
    font-family: "Nunito";
    src: url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,900&display=swap');
    font-weight: 900;
    font-style: italic;
}


body {
    background: #FFFEF2;
}

.sec-intro {
    .line {
        display: flex;
        justify-content: center;
        font-family: 'nunito';
        font-size: 200px;
        color: #363636;
    }
    .br {
        margin-left: 50px;
    }
    .name {
        color: #4774E7;
    }
}